html {
    font-family: sans-serif;
}

main {
    margin: 0 auto;
    width: 90%;
    max-width: 100ch;
    padding: 1rem;
    line-height: 1.5;
    flex: 1
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    text-align: justify;
}

pre {
    padding: 1rem;
    border-radius: .5rem;
}

img {
    height: auto;
    max-width: 100%;
}

h1,
h2 {
    margin-bottom: 4px;
}

h3 {
    margin-bottom: 0px;
}

h2+p,
h3+p {
    margin-top: 0px;
}

#drawer {
    transition: .25s ease-in-out;
}

.show-drawer {
    translate: 250px 0px;
}