---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>About me</h1>
    <p>
        Software developer with broad experience with .NET and React. Metal
        lover. Beach enthusiast
    </p>
</BaseLayout>
