---
import RecentPost from "../components/RecentPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>Posts</h1>
    <div>
        <RecentPost />
    </div>
</BaseLayout>
