---
import { getCollection } from "astro:content";
import RecentPost from "../components/RecentPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await getCollection("blog");
---

<BaseLayout>
    <h1>Posts</h1>
    <br />
    <div>
        {allPosts.map((post) => <RecentPost post={post} />)}
    </div>
</BaseLayout>
