---
import Greeting from "../components/Greeting.astro";
import RecentPost from "../components/RecentPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<Greeting />
	<hr />
	<h2>Recent Posts</h2>
	<div class="recent-posts-list">
		<RecentPost />
		<RecentPost />
	</div>
</BaseLayout>

<style>
	.recent-posts-list {
		display: flex;
		flex-direction: column;
		gap: 1.75rem;
	}
</style>
