---
import Mail from "../../src/assets/footer/mail.svg";
import LinkedIn from "../../src/assets/footer/linkedin.svg";
import GitHub from "../../src/assets/footer/github.svg";
---

<footer>
    <a href="mailto:v.r.delarosa@outlook.com"><Mail class="icon" /></a>
    <a href="https://www.linkedin.com/in/victor-rafael-d-a82103118/"
        ><LinkedIn class="icon" /></a
    >
    <a href="https://github.com/victorh18"><GitHub class="icon" /></a>
</footer>

<style>
    footer {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        border-top: 1px solid #eee;
        padding: 0.5rem 0rem;
    }

    svg {
        height: 1.5rem;
        width: 1.5rem;
    }

    a {
        text-decoration: none;
    }
</style>
