---
import Mail from "../../src/assets/footer/mail.svg";
---

<footer>
    <a href=""><Mail class="icon" /></a>
    <a href=""><Mail class="icon" /></a>
    <a href=""><Mail class="icon" /></a>
</footer>

<style>
    footer {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        border-top: 1px solid #eee;
        padding: 0.5rem 0rem;
    }

    svg {
        height: 1.5rem;
        width: 1.5rem;
    }

    a {
        text-decoration: none;
    }
</style>
