<>
    <h1>Welcome to $BLOG_NAME!</h1>
    <p>
        I talk about some code approaches that I find interesting, and generally
        speaking, I treat this blogs a my personal cheat code page for future
        reference
    </p>
</>
