---
import Hamburger from "../../src/assets/footer/hamburger.svg";
import MobileNav from "./MobileNav.astro";
import NavLinks from "./NavLinks.astro";
---

<header>
    <MobileNav />
    <nav>
        <div class="brand">
            <a href="/">$BLOG_NAME</a>
            <span id="btnToggleDrawer">
                <Hamburger />
            </span>
        </div>
        <div class="desktop-nav-links">
            <NavLinks />
        </div>
        <div></div>
    </nav>
</header>

<style>
    header {
        border-bottom: 1px solid #eee;
        padding: 0.5rem 0rem;
    }

    svg {
        width: 24px;
        height: 24px;
    }

    nav {
        display: flex;
    }

    div {
        display: flex;
        flex: 1;
        gap: 1rem;
        justify-content: center;
    }

    a {
        text-decoration: none;
        color: #4b5563;
    }

    div a:hover,
    .is-active-route {
        color: black;
        text-decoration: underline;
        font-weight: 700;
    }

    .brand {
        justify-content: flex-start;
        font-weight: bold;
        font-size: 1.25rem;
        color: black;
    }

    .brand a:hover {
        text-decoration: none;
    }

    #btnToggleDrawer {
        display: none;
        padding: 0px 8px;
    }

    @media (max-width: 640px) {
        #btnToggleDrawer {
            display: block;
        }

        .brand {
            flex-direction: row-reverse;
            justify-content: flex-end;
            gap: 0px;
            align-items: center;
        }

        .desktop-nav-links {
            display: none;
        }
    }
</style>
<script>
    const SHOW_DRAWER_CLASS = "show-drawer";
    const btnToggleDrawer = document.getElementById("btnToggleDrawer");
    const backdrop = document.getElementById("backdrop");

    btnToggleDrawer?.addEventListener("click", () => {
        const drawer = document.getElementById("drawer");
        const backdrop = document.getElementById("backdrop");
        if (drawer?.classList.contains(SHOW_DRAWER_CLASS)) {
            drawer.classList.remove(SHOW_DRAWER_CLASS);
            backdrop!.style.display = "none";
        } else {
            drawer?.classList.add(SHOW_DRAWER_CLASS);
            backdrop!.style.display = "block";
        }
    });

    backdrop?.addEventListener("click", () => {
        const drawer = document.getElementById("drawer");
        const backdrop = document.getElementById("backdrop");
        drawer?.classList.remove(SHOW_DRAWER_CLASS);
        backdrop!.style.display = "none";
    });
</script>
