---
import TagList from "./TagList.astro";
const { post } = Astro.props;
const { publishDate, title, description, tags } = post.data;
---

<div class="recent-post-container">
    <a href={`/blog/${post.id}`}>
        <div>
            <em
                >{
                    new Intl.DateTimeFormat("en-US", {
                        dateStyle: "full",
                        timeZone: "Australia/Sydney",
                    }).format(publishDate)
                }</em
            >
            <h3>{title}</h3>
        </div>
        <p>{description}</p>
    </a>
    <TagList tags={tags.filter((tag: string) => tag.trim())} />
</div>

<style>
    .recent-post-container {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    em {
        color: rgb(107, 114, 128);
        font-size: 16px;
    }

    h3 {
        color: rgb(17, 24, 39);
    }
    p {
        color: var(--main-text-color);
    }

    h3,
    p {
        margin: 0px;
    }

    a {
        text-decoration: none;
    }

    a:hover p,
    a:hover h3,
    a:hover em {
        color: var(--accent-text-color);
    }
</style>
