---
const { tag } = Astro.props as { tag: string };
---

<a href="">{tag}</a>

<style>
    a {
        border-radius: 99rem;
        padding: 4px 12px;
        border: 1px solid #f3f4f6;
        text-decoration: none;
        color: #374151;
        background-color: #f3f4f6;
        font-weight: 400;
        font-size: 14px;
    }
    a:hover {
        border: 1px solid #374151;
    }
</style>
