---
const { tag } = Astro.props as { tag: string };
---

<a href="">{tag}</a>

<style>
    a {
        border-radius: 99rem;
        padding: 4px 12px;
        text-decoration: none;
        color: rgb(55, 65, 81);
        background-color: rgb(243, 244, 246);
        font-weight: 100;
        font-size: 16px;
    }
</style>
