---
import Tag from "./Tag.astro";

const { tags } = Astro.props as {
    tags: string[];
};
---

<div>
    {tags.map((tag) => <Tag tag={tag} />)}
</div>

<style>
    div {
        display: flex;
        gap: 1rem;
    }
</style>
